@import url('https://fonts.googleapis.com/css?family=Lora');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

body {
  font-family: 'Raleway', sans-serif;
  background-color: #304352;

}

.wrap {
  width:250px; 
  margin-top: -30px; 
  text-align: justify;
  text-justify: inter-word;
}

.wrap2 {
  width:700px; 
  margin: auto; 
  margin-left: 225px; 
  padding-top: 50px; 
  z-index: 2;
}

.color {
  /*background: #777;*/
background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: background .2s ease-in-out;
}

.color:hover {
  /*background: #FF8F00;*/
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

.msg {
  font-size:1em;
  text-align: justify;
  text-justify: inter-word;
  transition: color .2s ease-in-out;
  color: #777;
  opacity: 0;
}

.msg:nth-child(odd) {
  color: #999;
}

.msg:hover {
  color: #FFF;
}

ul {
  list-style-type: circle;
}
li {
  padding-top: 10px;
}

h2  {
  font-size: 1.3em;
  color: #d7d2cc;
  font-weight: 100;
}

.white {
  color: #FFF;
  text-transform: uppercase;
}

p  {
  color: #d7d2cc;
}

.thankyou {
  opacity: 0;
}

.sticker {
  background: top left no-repeat; 
  animation-play-state: running;
  position:absolute;
}

.sticker1 {
  animation: spin 12s .5s linear infinite;
  left: 5px;

}

.sticker2 {
  top: 275px;
  left: 5px;
  animation: spinReverse 8.5s .5s linear infinite;
}

.sticker3 {
  left: 600px;
  padding-top: 20px;
  z-index: -1;
  animation: spin 25s .5s linear infinite;
}

.sticker4 {
  left: 491px;
  top: 665px;
  animation: spinReverse 11s .5s linear infinite;
}

.sticker:hover {
  animation-play-state: paused;
}

.msg1 { animation: appear 1s 5s ease-in both; }
.msg2 { animation: appear 1s 9s ease-in both; }
.msg3 { animation: appear 1s 13s ease-in both; }
.msg4 { animation: appear 1s 17s ease-in both; }
.msg5 { animation: appear 1s 21s ease-in both; }
.msg6 { animation: appear 1s 25s ease-in both; }
.msg7 { animation: appear 1s 29s ease-in both; }
.msg8 { animation: appear 1s 32s ease-in both; }


@keyframes spin {
  100%{ transform: rotate(1turn); }
}

@keyframes spinReverse {
  100%{ transform: rotate(-1turn); }
}

@keyframes appear {
  100%{ opacity: 1; }
}